<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./assets/js/main.js" defer></script>
</head>
<body class="page-top">
    <header class="header">
        <div class="header__inner">
            <a href="#" class="header__logo"></a>
            <nav class="g-nav">
                <ul class="g-nav__list">
                    <li class="g-nav__list__item"><a href="#" class="g-nav__list__inner">text</a></li>
                    <li class="g-nav__list__item"><a href="#" class="g-nav__list__inner">text</a></li>
                    <li class="g-nav__list__item"><a href="#" class="g-nav__list__inner">text</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="mv">
            <div class="mv__txt">
                <p class="mv__lead">リード文が入ります</p>
                <h1 class="mv__hdg">h1テキストが入ります</h1>
            </div>
        </div>
        <section id="app" class="job-area">
            <h2 class="hdg1">h2テキストが入ります</h2>
            <article class="job" v-for="job in jobs">
                <div class="job__detail">
                    <dl class="job__list" v-for="(value, key) in keys">
                        <dt class="job__list__term">{{ value }}：</dt>
                        <dd class="job__list__desc">{{ job[key] }}</dd>
                    </dl>
                </div>
                <div class="job__img" v-if="job.image">
                    <img v-bind:src="job.image" alt="">
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <nav class="sub-nav">
            <ul class="sub-nav__list">
                <li class="sub-nav__list__item"><a href="#" class="sub-nav__list__inner">text</a></li>
                <li class="sub-nav__list__item"><a href="#" class="sub-nav__list__inner">text</a></li>
                <li class="sub-nav__list__item"><a href="#" class="sub-nav__list__inner">text</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>